# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
EGG-INFO/

# Virtual environments
siberindo-venv/
venv/
.venv/
env/

# Flask/Python specific
instance/
.pytest_cache/

# Environment variables
.env
.env.*

# Editors and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and coverage
*.log
coverage.*
htmlcov/

# PyInstaller
*.manifest
*.spec